#info_container{
    display: block;
    font-size: 2em;
    margin: 25px;
}
#add_icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    background-color: #0d6efd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#add_icon span{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.texts_heading, .wide_text_heading{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 25px auto;
    font-size: 2em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.wide_text_heading{
    width: 300px;
}

.singletext_link{
    text-decoration: none;
    color: #000;
}
.singletext_link:hover{
    color: #000;
}

.text_grid{
    display: grid;
    box-sizing: border-box;
    width: 90vw;
    margin: 50px auto;
    margin-top: 25px;
    padding: 80px 50px;
    grid-template: repeat(1, minmax(50px, auto))/repeat(auto-fit, minmax(300px, 0.5fr));
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
    grid-auto-flow: dense;
    grid-auto-rows: 300px;
    background-color: #eeeef1;
}

.text_entry{
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 200ms linear;
    cursor: pointer;
}

.text_entry:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color: #4285F4;
}
.pinned_text_entry:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color: #de5246;
}

.title_container span{
    font-size: 1.75em;
    font-weight: 600;
}
.meta_one, .meta_two{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.meta_one{
    height: 125px;
    cursor: initial;
}

.meta_one > span, .meta_two span{
    font-size: 1.2em;
    font-weight: 600;
    color: #495057;
}

.text_content{
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    max-height: 250px;
    overflow: hidden;
}

.text_options{
    position: relative;
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_container{
    width: 25%;
    max-height: 100%;
    overflow: hidden;
}

.image_container img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.pinanchor, .unpinanchor, .severityanchor{
    text-decoration: none;
    color: #000;
}
.pinanchor:hover, .unpinanchor:hover, .severityanchor:hover{
    color: #000;
}
.pin_info, .unpin_info, .severity_info{
    display: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #343a40;
    color: #fff;
    border-radius: 5px;
}
.unpin_info{
    width: 100px;
}

.severity_btn{
    width: 100%;
}
.severity_info{
    width: 100px;
    left: -50%;
}
/* Severity Background color */
.l{
    background-color: #cdff90;
}
.m{
    background-color: #fff476;
}
.h{
    background-color: #f28b82;
}