#textdetail_container{
    position: relative;
    width: 100%;
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dee2e6;
}

#single_text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw;
    padding: 20px;
    margin: 50px auto;
    border: 3px solid #4285F4;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(0.6);
    animation: popup 250ms linear forwards;
    background-color: #fff;
}

.exitanchor{
    text-decoration: none;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
}
.exitanchor:hover{
    color: #000;
}
@keyframes popup{
    from{
        transform: scale(0.6)
    }
    to{
        transform: scale(1);
    }
}

#options{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

#options button{
    width: 250px;
}

#detail_image_container{
    width: 100%;
    max-height: 55vh;
    margin: 20px 0;
    overflow: hidden;
}
#detail_image_container img{
    object-fit: cover;
    object-position: center;  
    width: 100%;
    height: 100%;
}

#textdetail_title{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
#textdetail_meta{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    color: #6c757d;
}
#textcontent_container{
    margin: 20px 0;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}