#info_container{
    display: block;
    font-size: 2em;
    margin: 25px;
}
#add_icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    background-color: #0d6efd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#add_icon span{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.texts_heading{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 25px auto;
    font-size: 2em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.singletext_link{
    text-decoration: none;
    color: #000;
}
.singletext_link:hover{
    color: #000;
}

.text_grid{
    display: grid;
    box-sizing: border-box;
    width: 90vw;
    margin: 50px auto;
    margin-top: 25px;
    padding: 80px 50px;
    grid-template: repeat(1, minmax(50px, auto))/repeat(auto-fit, minmax(300px, 0.5fr));
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
    grid-auto-flow: dense;
    grid-auto-rows: 300px;
    background-color: #eeeef1;
}

.text_entry{
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 200ms linear;
    cursor: pointer;
}

.text_entry:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color: #4285F4;
}
.pinned_text_entry:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color: #de5246;
}

.meta_one{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.image_container{
    width: 75%;
    margin: 10px 0;
    height: 50%;
    overflow: hidden;
}

.image_container img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.text_options{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinanchor{
    text-decoration: none;
    color: #000;
}
.pinanchor:hover{
    color: #000;
}