{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'textifyapi/account.css' %}" type="text/css">
{% endblock head %}

{% block content %}
<div id="greetings">
    <div>
        <span>Welcome to Textify</span>
        <img id="logo" src="{% static 'textifyapi/logo/logo.png' %}" alt="logo">
    </div>
    <span>Please signup or login to access the website</span>
</div>
<div class="form-group" id="login_form">
<div class="form_heading">
    <span >Fill the form to Login</span>
</div>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div id="loginform_option">
        <button type="submit" class="btn btn-outline-success my-3">Login</button>
    </div>
</form>
<div id="signup_instead">
    <a href="{% url 'signup' %}"><button type="button" class="btn btn-outline-primary w-100 my-3">Sign up instead?</button></a>
</div>
</div>
{% endblock content %}