{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'textifyapi/account.css' %}" type="text/css">
{% endblock head %}

{% block content %}
<div class="form-group profile_form">
<div class="form_heading">
    <span>Fill the form to signup</span>
</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <div class="profile_options">
        <a href={% url 'login' %}><button type="button" class="btn btn-outline-danger">Cancel</button></a>
        <button type="submit" class="btn btn-outline-primary">Add</button>
    </div>
</form>
<div>
{% endblock content %}