{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'textifyapi/account.css' %}" type="text/css">
{% endblock head %}

{% block content %}
<div id="centered">
    <span>Do you really want to logout of the site?</span>
    <span>Note: You will not be able to access any of your text</span>
    <div id="logout_options">
        <a href="{% url 'textlist' %}"><button type="button" class="btn btn-outline-primary mx-3">Cancel</button></a>
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-danger mx-3">Logout</button></a>
    </div>
</div>
{% endblock content %}