{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'textifyapi/textlist.css' %}" type="text/css">
{% endblock head %}

{% block content %}
{% if results|length == 0 %}
<span id="info_container">No result found for "{{query}}"</span>
{% else %}
    <span id="info_container">{{results|length}} results found for "{{query}}"</span>
<div class="text_grid">
    {% for text in results %}
    <a class="singletext_link" href="{% url 'textdetail' text.pk %}">
    <div class="text_entry {{text.severity}}">
        <div class="title_container">
            <span>{{text.title}}</span>
        </div>
        {% if text.image %}
        <div class="image_container">
            <img src="{{text.image.url}}" alt="{{text.title}}">
        </div>
        {% endif %}
        <div class="meta_container">
            <span>{{text.user.name}}</span>
            <span>{{text.created_at}}</span>
            <span>{{text.updated_at}}</span>
            <span>{{text.get_category_display}}</span>
        </div>
    </div>
</a>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}