{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'textifyapi/textupdate.css' %}" type="text/css"
{% endblock head %}

{% block content %}
<div id="updateform_heading">
    <span>Are you sure you want to update the text "{{object.title}}"</span>
</div>

<div class="form-group" id="textupdate_form">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{ form.as_p }}
    <div id="updateform_options">
        <a href="{% url 'textdetail' object.pk %}"><button type="button" class="btn btn-outline-danger w-100">Cancel</button></a>
        <button type="submit" class="btn btn-outline-primary w-25">Update</button>
    </div>
</form>
</div>
{% endblock content %}