{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'textifyapi/textdetail.css' %}" type="text/css">
{% endblock head %}

{% block content %}
    <div id="textdetail_container" >
        <div id="single_text">
            <a class="exitanchor" href="{% url 'textlist' %}">
            <div id="exit_icon">
                <i class="fa fa-times fa-2x"></i>
            </div>
            </a>
                <span id="textdetail_title">{{object.title}}</span>
                <div id="textdetail_meta">
                    <span>{{object.user.name}}</span>
                    <span>Last Updated at: {{object.updated_at}}</span>
                </div>
            {% if object.image %}
            <div id="detail_image_container">
                <img src="{{object.image.url}}" alt="{{object.title}}">
            </div>
            {% endif %}
            <div id="textcontent_container">
                <span>{{object.content|safe}}</span>
            </div>
            <div id="options">
                <a href="{% url 'textupdate' object.pk %}"><button type="button" class="btn btn-outline-warning">Edit</button></a>
                <a href="{% url 'textdelete' object.pk %}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
            </div>
        </div>
    </div>
{% endblock content %}

