{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'textifyapi/textlist.css' %}" type="text/css">
    <script defer src="{% static 'textifyapi/index.js' %}"></script>
{% endblock head %}

{% block content %}
{% if  pinned_text_list|length == 0 %}
<span class="wide_text_heading">No Pinned Texts</span>
{% else %}
<span class="texts_heading">Pinned Texts</span>
<div class="text_grid" id="pinned_text_grid">
    {% for text in pinned_text_list %}
    <div class="text_entry pinned_text_entry {{text.severity}}" >
        <a class="singletext_link" href="{% url 'textdetail' text.pk %}">
            <div class="title_container">
                <span>{{text.title}}</span>
            </div>
        </a>

            <div class="meta_one">
                <span>{{text.user.name}}</span>
                <div class="text_options">
                    <div class="severity_option">
                        <a class="severityanchor" data-bs-toggle="collapse" href="#set_severity_{{text.id}}" role="button" aria-expanded="false" aria-controls="set_severity_{{text.id}}">
                            <i class="fa fa-bolt fa-2x"></i>
                          </a>
                        <div class="severity_info"><span>Set Severity</span></div>
                    </div>
                    <div class="unpin_text">
                        <a class="unpinanchor" href="{% url 'unpintext' text.id %}"><i class="fa fa-unlink fa-2x"></i></a>
                        <div class="unpin_info"><span>Unpin Text</span></div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="set_severity_{{text.id}}">
                <div class="card card-body">
                    <a href="{% url 'setseverity' 'none' text.id %}"><button type="button"  class="severity_btn btn btn-outline-primary">None</button></a>
                    <a href="{% url 'setseverity' 'l' text.id %}"><button type="button"  class="severity_btn btn btn-outline-success">Low</button></a>
                    <a href="{% url 'setseverity' 'm' text.id %}"><button type="button"  class="severity_btn btn btn-outline-warning">Moderate</button></a>
                    <a href="{% url 'setseverity' 'h' text.id %}"><button type="button"  class="severity_btn btn btn-outline-danger">High</button></a>
                </div>
              </div>
            <a class="singletext_link" href="{% url 'textdetail' text.pk %}">
            {% if text.image %}
            <div class="image_container">
                <img src="{{text.image.url}}" alt="{{text.title}}">
            </div>
            {% endif %}
            <div class="meta_container">
                <span>{{text.created_at}}</span>
                <span>{{text.updated_at}}</span>
                <span>{{text.get_category_display}}</span>
                <span>{{text.get_severity_display}}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if text_list|length == 0 %}
<span class="wide_text_heading">No Texts Saved</span>
{% else %}
<span class="texts_heading">Your Texts</span>
<div class="text_grid">
    {% for text in text_list %}
    <div class="text_entry {{text.severity}}">
    <a class="singletext_link" href="{% url 'textdetail' text.pk %}">
        <div class="title_container">
            <span>{{text.title}}</span>
        </div>
    </a>
        
        <div class="meta_one">
            <span>{{text.user.name}}</span>
            <div class="text_options">
            <div class="severity_option">
                <a class="severityanchor" data-bs-toggle="collapse" href="#set_severity_{{text.id}}" role="button" aria-expanded="false" aria-controls="set_severity_{{text.id}}">
                    <i class="fa fa-bolt fa-2x"></i>
                  </a>
                <div class="severity_info"><span>Set Severity</span></div>
            </div>
            <div class="pin_text">
                <a class="pinanchor" href="{% url 'pintext' text.id %}"><i class="fa fa-link fa-2x"></i></a>
                <div class="pin_info"><span>Pin Text</span></div>
            </div>
            </div>
        </div>

        <div class="collapse" id="set_severity_{{text.id}}">
            <div class="card card-body">
                <a href="{% url 'setseverity' 'none' text.id %}"><button type="button"  class="severity_btn btn btn-outline-primary">None</button></a>
                <a href="{% url 'setseverity' 'l' text.id %}"><button type="button"  class="severity_btn btn btn-outline-success">Low</button></a>
                <a href="{% url 'setseverity' 'm' text.id %}"><button type="button"  class="severity_btn btn btn-outline-warning">Moderate</button></a>
                <a href="{% url 'setseverity' 'h' text.id %}"><button type="button"  class="severity_btn btn btn-outline-danger">High</button></a>
            </div>
          </div>

    <a class="singletext_link" href="{% url 'textdetail' text.pk %}">
        {% if text.image %}
        <div class="image_container">
            <img src="{{text.image.url}}" alt="{{text.title}}">
        </div>
        {% endif %}
        <div class="meta_two">
            <span>{{text.created_at}}</span>
            <span>{{text.updated_at}}</span>
            <span>{{text.get_category_display}}</span>
            <span>{{text.get_severity_display}}</span>
        </div>
    </a>
    </div>
    {% endfor %}
</div>
{% endif %}

<a href="{% url 'textcreate' %}">
    <div id="add_icon">
        <span>+</span>
    </div>
</a>
{% endblock content %}