{% extends 'textifyapi/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'textifyapi/textdetail.css' %}" type="text/css">
{% endblock head %}

{% block content %}
    <div id="single_text">
        <span>{{object.title}}</span>
        <span>Author: {{object.user.name}}</span>
        <span>Created at: {{object.created_at}}</span>
        <span>Updated at: {{object.updated_at}}</span>
        <span>Category: {{object.get_category_display}}</span>
        <span>{{object.content|safe}}</span>
    </div>
    <div id="options">
        <a href="{% url 'textupdate' object.pk %}"><button type="button" class="btn btn-outline-warning mx-3">Edit</button></a>
        <a href="{% url 'textdelete' object.pk %}"><button type="button" class="btn btn-outline-danger mx-3">Delete</button></a>
    </div>
{% endblock content %}

